*{
  padding: 0;
  margin: 0;
}
.body{
  font-family: sans-serif;
}
.container{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  background: grey;
}
img{
  width: 100%;
}
.menu-top{
  font-size: 20px;
  font-weight: 1000;
  margin: 20px;
  text-align: center;
}
.menu-top-item{
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  color: green;
  margin-right: 50px;
}

.menu-top-link {
  text-decoration: none;
  color: black;
}

.btn{
  background-color: blue;
  border: 0;
  padding: 7px;
}
.bottom-text{
  text-align: right;
  font-size: 15px;
  color: red;
  font-weight: 1000;
  margin: 25px;
}
